<html>
<head>
  <style type="text/css" media="screen">
    @import url("/styles/style.css");
  </style>
</head>
<body>
  <div class="center">
    <h1>{{ .title }}</h1>
    <p class="center-text">CAUGHT: {{ .caught }} SEEN: {{ .seen }}</p>
  </div>

  <div class="center float-container">

    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>

    {{ range .pokemonData }}
      <div id="squares" class="float-child">
        <a href="/pokemon/{{ .Name }}">
          <img src={{ .Images.FrontDefault }}>
        </a>
        <p>{{ .Name }}</p>
      </div>
    {{end}}
  </div>
</body>
</html>
