body {
    background-color: #E6E6FA;
}

/* Class for centering */
.center {
    text-align: center;
}

.center-text {
    color: #9370DB;
}

/* Boxes display side-by-side */
.float-container {
    width: 975px;
    padding: 20px;
}

.float-child {
    width:150px;
    height:150px;
    float: left;
    padding: 20px;
} 

.center.float-container {
    height:240px;
    text-align: center;
    padding: 20px;
    position: absolute;
    top:0;
    bottom: 400;
    left: 0;
    right: 0;
    margin: auto;
}
